<div class="auth">
  <ion-content [fullscreen]="true">
    <ion-grid class="mt-5">
      <ion-row>
        <ion-col>
          <!-- radial here -->
        </ion-col>
        <ion-col>
          <h5 class="text-md strong">{{ getTitleDescription('title') }}</h5>
          <p class="text-xs light-text-color">{{ getTitleDescription('description') }}</p>
        </ion-col>
      </ion-row>
      <ion-row [formGroup]="onboardingForm" style="margin-top: 4rem;">
        <ion-col [ngSwitch]="currentPage">
          <ng-container *ngIf="checkForStep('profile')">
            <div *ngSwitchCase="0">
              <app-profile 
                [profileForm]="profileForm"></app-profile>
            </div>
          </ng-container>
          <ng-container *ngIf="checkForStep('account')">
            <div *ngSwitchCase="1">
              <app-account
                [accountForm]="accountsFormArray"></app-account>
            </div>
          </ng-container>
          <ng-container *ngIf="checkForStep('category')">
            <div *ngSwitchCase="2">
              <app-categories 
                [categoryForm]="categoriesFormArray"></app-categories>
            </div>
          </ng-container>
          <ng-container *ngIf="checkForStep('family')">
            <div *ngSwitchCase="3">
              <app-invite-family
                [familyInviteForm]="familyInvitesFormArray"></app-invite-family>
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer class="ion-no-border" slot="fixed">
      <div class="ion-padding button-group">
        <ion-button *ngIf="currentPage == requiredSections?.length - 1" class="shadow" type="submit" expand="block" shape="round" size="large" (click)="submit()">Submit</ion-button>
        <ion-button *ngIf="currentPage < requiredSections?.length - 1" class="shadow" type="submit" expand="block" shape="round" size="large" (click)="nextStep()">Next</ion-button>
      </div>

      <div *ngIf="currentPage > 0" class="text-center">
        <span>
          <span (click)="previousStep()" class="primary bold-text button">Back</span>
        </span>
      </div>
    </ion-footer>
  </ion-content>
  
</div>