<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="mt-0">Accounts</p>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <ion-button (click)="addAccount()" size="small" color="primary" fill="clear" class="text-sm ion-float-right m-0">
          Add
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let form of accountForm?.value">
      <app-card
        [id]="form"
        margin="5px 5px 5px 5px" 
        padding="5px"
        (onClick)="handleAccountAction($event)">
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col class="ion-align-items-center">
              <p class="strong text-sm pb-0 mb-0">{{ form?.name }}</p>
            </ion-col>
            <ion-col class="ion-align-self-center mr-3" size="2">
              <!-- <ion-icon style="vertical-align: middle;" class="text-lg" [src]="'assets/icon/'+item?.icon+'.svg'" color="primary"></ion-icon> -->
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </app-card>
    </ion-row>
  </ion-grid>

  <app-empty-placeholder
    [icon]="'emptyList'"
    [message]="'No accounts added yet.'"
    [display]="accountForm?.value?.length == 0"></app-empty-placeholder>
</div>