<ion-header [translucent]="true" class="mb-1">
  <ion-toolbar style="--border-style: none !important;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="text-left strong">Manage Account</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-buttons (click)="closeAccountPopup()" class="mr-5" slot="end">
      <ion-icon class="text-md pt-3 strong" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content #ionContent [scrollY]="true" [formGroup]="formGroup">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="input-group mt-4 mb-1">
          <div class="group mb-0">
            <ion-label position="stacked">Account Name</ion-label>
              <ion-input formControlName="name" placeholder="Provide Name">
                <ion-icon *ngIf="(name.dirty || name.touched) && !name.errors" class="correct" name="checkmark-circle" item-right></ion-icon>
                <ion-icon *ngIf="(name.dirty || name.touched) && name.errors" class="incorrect" name="close-circle" item-right></ion-icon>
              </ion-input>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="input-group mt-4 mb-1">
          <div class="group mb-0">
            <ion-label *ngIf="creatingAccount" position="stacked">Beginning Balance</ion-label>
            <ion-label *ngIf="!creatingAccount" position="stacked">Current Balance</ion-label>
            <ion-input currencyMask formControlName="beginningBalance" placeholder="Provide Name" [readonly]="!creatingAccount">
              <ion-icon *ngIf="(beginningBalance.dirty || beginningBalance.touched) && !beginningBalance.errors" class="correct" name="checkmark-circle" item-right></ion-icon>
              <ion-icon *ngIf="(beginningBalance.dirty || beginningBalance.touched) && beginningBalance.errors" class="incorrect" name="close-circle" item-right></ion-icon>
            </ion-input>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="input-group mt-3 mb-1">
          <div class="group mb-0">
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea formControlName="description" placeholder="Type something here"></ion-textarea>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="input-group mt-3 mb-1">
          <div class="group mb-0">
            <ion-label position="stacked">Account Type</ion-label>
            <div (click)="chooseType()" class="input-lookalike">
              <p *ngIf="!accountType" class="placeholder">Select Type</p>
              <p *ngIf="accountType">{{ getSelAccountTypeLabel(accountType) }}</p>
            </div>
          </div>
        </div> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="input-group mt-4 mb-1">
          <div class="group mb-1">
            <ion-toggle [disabled]="disableCreateBudget()" formControlName="createBudget" justify="space-between" [checked]="false">Does this account have a budget?</ion-toggle>
          </div>
        </div> 
      </ion-col>
    </ion-row>
    <ion-row *ngIf="createBudget">
      <ion-col>
        <div class="input-group mt-3 mb-1">
          <div class="group mb-0">
            <ion-label position="stacked">Frequency</ion-label>
            <div (click)="chooseFrequency()" class="input-lookalike">
              <p *ngIf="!selFrequency" class="placeholder">Select Frequency</p>
              <p *ngIf="selFrequency">{{ getSelFrequencyLabel(selFrequency) }}</p>
            </div>
          </div>
        </div> 
      </ion-col>
    </ion-row>

    <ion-row *ngIf="createBudget">
      <ion-col>
        <div class="input-group mt-3 mb-1">
          <div class="group mb-0">
            <ion-label position="stacked">Start Date</ion-label>
            <div *ngIf="creatingAccount" (click)="chooseDate()" class="input-lookalike">
              <p *ngIf="!selectedDate?.value" class="placeholder">Select Date</p>
              <p *ngIf="selectedDate?.value">{{ selectedDate?.value | date:'MM/dd/yyyy' }}</p>
            </div>
            <div *ngIf="!creatingAccount" class="input-lookalike">
              <p *ngIf="!selectedDate?.value" class="placeholder">Select Date</p>
              <p *ngIf="selectedDate?.value">{{ selectedDate?.value | date:'MM/dd/yyyy' }}</p>
            </div>
          </div>
        </div> 
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="button-group mb-3 mt-5">
    <ion-button 
      class="shadow" 
      type="submit" 
      expand="block" 
      shape="round" 
      size="large"
      (click)="confirm()">Confirm</ion-button>
  </div>

  <div class="button-group mb-3 mt-2">
    <ion-button *ngIf="accountId?.value"
      color="danger"
      class="shadow" 
      type="submit" 
      expand="block" 
      shape="round" 
      size="large"
      (click)="delete()">Archive</ion-button>
  </div>
</ion-content>

<ion-alert #accountTypeAlert
  header="Select Account Type"
  [buttons]="accountTypeButtons"
></ion-alert>

<ion-alert #frequencyAlert
  header="Select Frequency"
  [buttons]="frequencyButtons"
></ion-alert>

<app-date-overlay #dateOverlay
    [title]="'Start Date'"
    [minDate]="minDate"
    (onConfirm)="onSelectDate($event)"></app-date-overlay>