<ion-header [translucent]="true">
  <app-navigation-bar [title]="'Summary'"></app-navigation-bar>
</ion-header>

<ion-content [fullscreen]="true" style="--offset-bottom: -15vh;">
  <div style="margin-bottom: 10rem">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5 class=""><strong>Account</strong> Balances</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="accountBalanceSummary.length != 0" class="pb-2">
      <swiper-container 
        slides-per-view="2" 
        speed="500" 
        pagination="true"
        css-mode="true">
        <swiper-slide *ngFor="let item of accountBalanceSummary">
          <app-card
            [id]="item?.id!"
            margin="10px 5px 5px 5px" 
            padding="5px"
            [active]="item?.active!"
            (onClick)="handleAccountAction($event)">
            <ion-grid>
              <ion-row class="ion-justify-content-start">
                <ion-col>
                  <p class="strong text-sm pb-0 mb-0">{{item?.name}}</p>
                  <p class="pt-0 m-0">{{item?.amount | currency:'USD':'symbol':'1.2-2'}}</p>
                </ion-col>
                <ion-col class="ion-align-self-center mr-3" size="2">
                  <ion-icon style="vertical-align: middle;" class="text-lg" [src]="'assets/icon/'+item?.icon+'.svg'" color="primary"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
              </ion-row>
            </ion-grid>
          </app-card>
        </swiper-slide>
      </swiper-container>
    </div>

    <ng-container *ngIf="currentBudgetSummary">
      <div>
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="8">
              <h5 class="pb-1 mb-0"><strong>Current</strong> Budget</h5>
              <p class="pt-0 mt-2 text-xs light-text-color">{{currentBudgetSummary?.displayDate}}</p>
            </ion-col>
            <ion-col>
              <p class="hoverable" style="float: right" (click)="onSeeMore()">See More</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="currentBudgetSummary?.showBudgetError" class="alert-container">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list lines="none">
                <ion-item>
                  <ion-icon name="alert-circle-outline" color="primary"></ion-icon>
                  <p class="text-xs pl-3 m-0">You don't have categories set for the current budget.</p>
                  <ion-button (click)="manageUnsetBudget()" size="small" color="primary" fill="outline" class="text-xs">Manage</ion-button>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    
      <!-- What's left -->
      <div>
        <app-card
          margin="0px 5px 0px 5px" 
          padding="5px">
          <ion-grid>
            <ion-row class="ion-justify-content-start">
              <ion-col size="2">
                <app-circle-gauge [config]="currentBudgetSummary?.circleGuage"></app-circle-gauge>
              </ion-col>
              <ion-col>
                <p *ngIf="currentBudgetSummary?.leftSpendingDays > 1" class="text-sm strong">Left to Spend for next<br> {{currentBudgetSummary?.leftSpendingDays}} days</p>
                <p *ngIf="currentBudgetSummary?.leftSpendingDays == 1" class="text-sm strong">Left to Spend for next<br> {{currentBudgetSummary?.leftSpendingDays}} day</p>
                <p *ngIf="currentBudgetSummary?.leftSpendingDays == 0" class="text-sm strong">Left to Spend for the <br>last day</p>
              </ion-col> 
              <ion-col class="ion-align-self-center" size="3">
                <p class="text-sm strong" style="float: right;">{{currentBudgetSummary?.leftSpendingAmount | currency:'USD':'symbol':'1.2-2'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </app-card>
      </div>
  
      <div>
        <ion-grid class="p-0 m-0">
          <ion-row>
            <ion-col class="p-0 m-0">
              <app-card
                margin="10px 5px 5px 5px" 
                padding="5px">
                <ion-grid>
                  <ion-row class="ion-justify-content-start">
                    <ion-col>
                      <p class="strong text-sm pb-0 mb-0">Income</p>
                      <p class="pt-0 m-0">{{currentBudgetSummary?.income?.amount | currency:'USD':'symbol':'1.2-2' }}</p>
                    </ion-col>
                    <ion-col class="ion-align-self-center mr-3" size="2">
                      <ion-icon style="vertical-align: middle;" class="text-lg" [src]="'assets/icon/'+currentBudgetSummary?.income?.icon+'.svg'" color="primary"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </app-card>
            </ion-col>
            <ion-col class="p-0 m-0">
              <app-card
                margin="10px 5px 5px 5px" 
                padding="5px">
                <ion-grid>
                  <ion-row class="ion-justify-content-start">
                    <ion-col>
                      <p class="strong text-sm pb-0 mb-0">Expenses</p>
                      <p class="pt-0 m-0 showRed">{{currentBudgetSummary?.expense?.amount | currency:'USD':'symbol':'1.2-2' }}</p>
                    </ion-col>
                    <ion-col class="ion-align-self-center mr-3" size="2">
                      <ion-icon style="vertical-align: middle;" class="text-lg" [src]="'assets/icon/'+currentBudgetSummary?.expense?.icon+'.svg'" color="primary"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </app-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-container>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5 class=""><strong>Recent</strong> Transactions</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <app-card *ngFor="let transaction of transactionSummary"
        margin="10px 5px 5px 5px" 
        padding="5px">
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="2">
              <app-circle-gauge [config]="transaction?.circleGuage"></app-circle-gauge>
            </ion-col>
            <ion-col size="7">
              <p class="text-sm strong description">{{transaction?.description}}</p>
              <p class="pt-0 mt-2 text-xs light-text-color">{{transaction?.date}}</p>
            </ion-col> 
            <ion-col class="ion-align-self-center" size="3">
              <p class="text-sm strong ion-float-right" [ngClass]="{'showRed': transaction?.showRed}">{{transaction?.amount | currency:'USD':'symbol':'1.2-2'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </app-card>
    </div>
  </div>
</ion-content>
