<ion-header [translucent]="true">
  <app-navigation-bar [title]="'Summary'"></app-navigation-bar>
</ion-header>

<ion-content [fullscreen]="true" style="--offset-bottom: -15vh;" [scrollY]="true">
  <div style="margin-bottom: 10rem">
    <div class="mt-2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5 class="m-0"><strong>Account</strong> Balances</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="pageInitialized && accountBalanceSummary?.length > 0">
      <swiper
        [allowTouchMove]="true"
        direction="horizontal"
        [slidesPerView]="2"
        [pagination]="true">
        <ng-template *ngFor="let item of accountBalanceSummary" swiperSlide>
          <app-card
            [id]="item?.id!"
            margin="2px 5px 5px 5px" 
            padding="5px"
            [active]="item?.active!"
            (onClick)="handleAccountAction($event)">
            <ion-grid>
              <ion-row class="ion-justify-content-start">
                <ion-col class="ion-align-self-center" size="2">
                  <ion-icon style="vertical-align: middle;" class="text-lg" [src]="'assets/icon/'+item?.icon+'.svg'" color="primary"></ion-icon>
                </ion-col>
                <ion-col></ion-col>
                <ion-col size="8">
                  <p class="ellipse strong text-sm pb-0 mb-0">{{item?.name}}</p>
                  <p class="pt-0 m-0">{{item?.amount | currency:'USD':'symbol':'1.2-2'}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
              </ion-row>
            </ion-grid>
          </app-card>
        </ng-template>
      </swiper>
    </div>

    <div *ngIf="!pageInitialized">
      <div>
        <swiper
        [allowTouchMove]="false"
        direction="horizontal"
        [slidesPerView]="2"
        [pagination]="true">
          <ng-template *ngFor="let item of placeHolderAccounts" swiperSlide>
            <app-card
              margin="2px 5px 5px 5px" 
              padding="5px">
              <ion-grid>
                <ion-row class="ion-justify-content-start">
                  <ion-col class="ion-align-self-center" size="3">
                    <ion-skeleton-text [animated]="true" style="width: 100%"></ion-skeleton-text>
                  </ion-col>
                  <ion-col></ion-col>
                  <ion-col size="8">
                    <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true" style="width: 40%"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                </ion-row>
              </ion-grid>
            </app-card>
          </ng-template>
        </swiper>
      </div>
    </div>

    <ng-container>
      <div class="mt-5">
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="8">
              <h5 class="pt-0 pb-1 mb-0 mt-0"><strong>Current</strong> Budget</h5>
              <p class="pt-0 mt-2 text-xs light-text-color">{{currentBudgetSummary?.displayDate}}</p>
              <ion-skeleton-text *ngIf="!pageInitialized" style="width: 30%" [animated]="true"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="currentBudgetSummary?.showBudgetError" class="alert-container">
        <ion-grid>
          <ion-row>
            <ion-col class="p-0">
              <ion-list lines="none">
                <ion-item>
                  <ion-icon name="alert-circle-outline" color="primary"></ion-icon>
                  <p class="text-xs m-0">You don't have categories set for the current budget.</p>
                  <ion-button (click)="manageUnsetBudget()" size="small" color="primary" fill="outline" class="text-xs">Manage</ion-button>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    
      <!-- Whats left -->
      <div>
        <app-card
          margin="2px 5px 0px 5px" 
          padding="5px">
          <ion-grid>
            <ion-row class="ion-justify-content-start">
              <ion-col size="2">
                <app-circle-gauge *ngIf="pageInitialized" [config]="currentBudgetSummary?.circleGuage"></app-circle-gauge>
                <ion-skeleton-text *ngIf="!pageInitialized" class="round-loader" [animated]="true"></ion-skeleton-text>
              </ion-col>
              <ion-col>
                <p *ngIf="pageInitialized && currentBudgetSummary?.leftSpendingDays > 1" class="text-sm strong">Left to Spend for<br> {{currentBudgetSummary?.leftSpendingDays}} days</p>
                <p *ngIf="pageInitialized && currentBudgetSummary?.leftSpendingDays == 1" class="text-sm strong">Left to Spend for<br> {{currentBudgetSummary?.leftSpendingDays}} day</p>
                <p *ngIf="pageInitialized && currentBudgetSummary?.leftSpendingDays < 1" class="text-sm strong">Left to Spend for the <br>last day</p>
                <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 80%"></ion-skeleton-text>
                <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 40%"></ion-skeleton-text>
              </ion-col> 
              <ion-col class="ion-align-self-center" size="3">
                <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 60%; float: right"></ion-skeleton-text>
                <p *ngIf="pageInitialized" class="text-sm strong" style="float: right;">{{currentBudgetSummary?.leftSpendingAmount | currency:'USD':'symbol':'1.2-2'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </app-card>
      </div>
  
      <div>
        <ion-grid class="p-0 m-0">
          <ion-row>
            <ion-col class="p-0 m-0">
              <app-card
                margin="5px 5px 5px 5px" 
                padding="5px">
                <ion-grid>
                  <ion-row class="ion-justify-content-start">
                    <ion-col>
                      <p *ngIf="pageInitialized" class="strong text-sm pb-0 mb-0">Income</p>
                      <p *ngIf="pageInitialized" class="pt-0 m-0">{{currentBudgetSummary?.income?.amount | currency:'USD':'symbol':'1.2-2' }}</p>
                      <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 50%"></ion-skeleton-text>
                      <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 75%"></ion-skeleton-text>
                    </ion-col>
                    <ion-col class="ion-align-self-center mr-3" size="2">
                      <ion-icon *ngIf="pageInitialized" style="vertical-align: middle;" class="text-lg" [src]="'assets/icon/'+currentBudgetSummary?.income?.icon+'.svg'" color="primary"></ion-icon>
                      <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 100%"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </app-card>
            </ion-col>
            <ion-col class="p-0 m-0">
              <app-card
                margin="5px 5px 5px 5px" 
                padding="5px">
                <ion-grid>
                  <ion-row class="ion-justify-content-start">
                    <ion-col>
                      <p *ngIf="pageInitialized" class="strong text-sm pb-0 mb-0">Expenses</p>
                      <p *ngIf="pageInitialized" class="pt-0 m-0 showRed">{{currentBudgetSummary?.expense?.amount | currency:'USD':'symbol':'1.2-2' }}</p>
                      <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 50%"></ion-skeleton-text>
                      <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 75%"></ion-skeleton-text>
                    </ion-col>
                    <ion-col class="ion-align-self-center mr-3" size="2">
                      <ion-icon *ngIf="pageInitialized" style="vertical-align: middle;" class="text-lg" [src]="'assets/icon/'+currentBudgetSummary?.expense?.icon+'.svg'" color="primary"></ion-icon>
                      <ion-skeleton-text *ngIf="!pageInitialized" [animated]="true" style="width: 100%"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </app-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-container>

    <div class="mt-3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5 class="m-0"><strong>Recent</strong> Transactions</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="pageInitialized && transactionSummary?.length > 0">
      <app-card *ngFor="let transaction of transactionSummary"
        margin="2px 5px 5px 5px" 
        padding="5px"
        (click)="handleTransactionClick(transaction?.id)">
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="2">
              <app-circle-gauge [config]="transaction?.circleGuage"></app-circle-gauge>
            </ion-col>
            <ion-col size="6">
              <p class="text-sm strong description">{{transaction?.description}}</p>
              <p class="pt-0 mt-2 text-xs light-text-color">{{transaction?.date}}</p>
            </ion-col> 
            <ion-col class="ion-align-self-center" size="3">
              <p class="text-sm strong ion-float-right" [ngClass]="{'showRed': transaction?.showRed}">{{transaction?.amount | currency:'USD':'symbol':'1.2-2'}}</p>
            </ion-col>
            <ion-col class="ion-align-self-center" size="1">
              <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </app-card>
    </div>

    <div *ngIf="!pageInitialized">
      <app-card *ngFor="let transaction of placeHolderTransactions"
        margin="2px 5px 5px 5px" 
        padding="5px">
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="2">
              <ion-skeleton-text class="round-loader" [animated]="true"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6">
              <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" style="width: 40%"></ion-skeleton-text>
            </ion-col> 
            <ion-col class="ion-align-self-center" size="3">
              <ion-skeleton-text [animated]="true" style="width: 60%; float: right"></ion-skeleton-text>
            </ion-col>
            <ion-col class="ion-align-self-center" size="1">
              <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </app-card>
    </div>

    <app-empty-placeholder *ngIf="pageInitialized && transactionSummary?.length == 0"
        [icon]="'emptyList'"
        [message]="'No transactions added yet'"
        [display]="transactionSummary?.length == 0"></app-empty-placeholder>
  </div>
</ion-content>
