<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="summary">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transaction">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Transaction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget">
      <ion-icon name="square"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="square"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<ion-tabs>  

  <ion-fab vertical="bottom" horizontal="center" translucent="true" (click)="handleFabClick()">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="summary" (ionSelect)="handleTabSelect('summary')">
      <ion-icon [ngClass]="{'tab-active': selectedTab === 'summary'}" src="assets/icon/overview.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="transaction" class="comments" (ionSelect)="handleTabSelect('transaction')">
      <ion-icon [ngClass]="{'tab-active': selectedTab === 'transaction'}" src="assets/icon/transaction-list.svg" name="cash-outline"></ion-icon>
      <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="budget" (ionSelect)="handleTabSelect('budget')">
      <ion-icon [ngClass]="{'tab-active': selectedTab === 'budget'}" src="assets/icon/budget.svg"></ion-icon>
      <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="settings" (ionSelect)="handleTabSelect('settings')">
      <ion-icon [ngClass]="{'tab-active': selectedTab === 'settings'}" src="assets/icon/tech.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<app-alert-box #alertBox
  (onButtonClick)="onAlertAction($event)"></app-alert-box>