<ion-header [translucent]="true" class="mb-5">
  <ion-toolbar style="--border-style: none !important;">
    <h5 class="text-center strong">Create Transaction</h5>
    <ion-buttons (click)="closeTransaction()" class="mr-5" slot="end">
      <ion-icon class="text-md pt-3 strong" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="formGroup">
  <div class="input-group mb-2">
    <div class="group mb-0">
      <ion-label position="stacked">Account</ion-label>
      <swiper-container 
        slides-per-view="2" 
        speed="500" 
        pagination="true"
        css-mode="true">
        <swiper-slide *ngFor="let item of accounts">
          <app-card
            [id]="item?.id"
            [active]="item?.active"
            (click)="onAccountSelect(item?.id)">
            <ion-grid>
              <ion-row class="ion-justify-content-start">
                <ion-col>
                  <p class="strong text-sm pb-0 mb-0">{{item?.name}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="pt-0 m-0" size="10">
                  <p class="pt-0 m-0">${{item?.amount}}</p>
                </ion-col>
                <ion-col size="2">
                </ion-col>
              </ion-row>
            </ion-grid>
          </app-card>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <div class="input-group mb-5">
    <div class="group mb-0">
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea formControlName="description" placeholder="Type something here"></ion-textarea>
    </div>
  </div>

  <div class="input-group mb-5">
    <div class="group mb-0">
      <ion-label position="stacked">Category</ion-label>
      <div (click)="chooseCategory()" class="input-lookalike">
        <p *ngIf="!selectedCategory?.value" class="placeholder">Select Category</p>
        <p *ngIf="selectedCategory?.value">{{ getSelCategory()?.name }}</p>
      </div>
    </div>
  </div>

  <div class="input-group mb-5">
    <div class="group mb-0">
      <ion-label position="stacked">Amount</ion-label>
        <ion-input placeholder="Select Amount" formControlName="amount" type="number">
        </ion-input>
    </div>
  </div>

  <div class="input-group mb-5">
    <div class="group mb-0">
      <ion-label position="stacked">Date</ion-label>
      <div (click)="chooseDate()" class="input-lookalike">
        <p *ngIf="!selectedDate?.value" class="placeholder">Select Date</p>
        <p *ngIf="selectedDate?.value">{{ selectedDate?.value | date:'MM/dd/yyyy' }}</p>
      </div>
    </div>
  </div>

  <div class="button-group mb-0">
    <ion-button 
      class="shadow" 
      type="submit" 
      expand="block" 
      shape="round" 
      size="large" 
      [disabled]="!formGroup?.valid"
      (click)="onConfirm()">Confirm</ion-button>
  </div>

  <app-category-overlay #categoryOverlay
    [categoryRefData]="refData?.categories"
    [showAccountOverlay]="showAccountOverlay"
    (onConfirm)="onSelectCategory($event)">
  </app-category-overlay>

  <app-date-overlay #dateOverlay
    (onConfirm)="onSelectDate($event)"></app-date-overlay>

</ion-content>
