<div [formGroup]="profileForm">
  <div class="input-group">
    <div class="group">
      <ion-label position="stacked">First Name</ion-label>
      <ion-input formControlName="firstname" autocapitalize="words" maxlength="30">
        <ion-icon *ngIf="(firstname.dirty || firstname.touched) && !firstname.errors" class="correct" name="checkmark-circle" item-right></ion-icon>
        <ion-icon *ngIf="(firstname.dirty || firstname.touched) && firstname.errors" class="incorrect" name="close-circle" item-right></ion-icon>
      </ion-input>
    </div>
  </div>

  <div class="input-group">
    <div class="group">
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input formControlName="lastname" autocapitalize="words" maxlength="30">
        <ion-icon *ngIf="(lastname.dirty || lastname.touched) && !lastname.errors" class="correct" name="checkmark-circle" item-right></ion-icon>
        <ion-icon *ngIf="(lastname.dirty || lastname.touched) && lastname.errors" class="incorrect" name="close-circle" item-right></ion-icon>
      </ion-input>
    </div>
  </div>

  <div class="input-group">
    <div class="group">
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input phoneMask formControlName="phone" inputmode="numeric" max="14">
        <ion-icon *ngIf="(phone.dirty || phone.touched) && !phone.errors" class="correct" name="checkmark-circle" item-right></ion-icon>
        <ion-icon *ngIf="(phone.dirty || phone.touched) && phone.errors" class="incorrect" name="close-circle" item-right></ion-icon>
      </ion-input>
    </div>
  </div>
</div>
