<div [formGroup]="profileForm">
  <div class="input-group">
    <div class="group">
      <ion-label position="stacked">First Name</ion-label>
      <ion-input formControlName="firstname">
        <ion-icon *ngIf="(firstname.dirty || firstname.touched) && !firstname.errors" class="correct" name="checkmark-circle" item-right></ion-icon>
        <ion-icon *ngIf="(firstname.dirty || firstname.touched) && firstname.errors" class="incorrect" name="close-circle" item-right></ion-icon>
      </ion-input>
    </div>
  </div>

  <div class="input-group">
    <div class="group">
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input formControlName="lastname">
        <!-- <ion-icon *ngIf="(password.dirty || password.touched) && !password.errors" class="correct" name="checkmark-circle" item-right></ion-icon> -->
        <!-- <ion-icon *ngIf="(password.dirty || password.touched) && password.errors" class="incorrect" name="close-circle" item-right></ion-icon> -->
      </ion-input>
    </div>
  </div>

  <div class="input-group">
    <div class="group">
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input formControlName="phone">
        <!-- <ion-icon *ngIf="(password.dirty || password.touched) && !password.errors" class="correct" name="checkmark-circle" item-right></ion-icon> -->
        <!-- <ion-icon *ngIf="(password.dirty || password.touched) && password.errors" class="incorrect" name="close-circle" item-right></ion-icon> -->
      </ion-input>
    </div>
  </div>
</div>
