<div #gauge role="progressbar" 
  [attr.aria-valuenow]="config?.currentValue"
  aria-valuemin="config?.minValue"
  aria-valuemax="config?.maxValue"
  [style.--value]="config?.currentValue"
  [ngClass]="{
    'should-animate': animate,
    'reset': !animate,
    'normal': !config?.showRed,
    'showRed': config?.showRed,
    'large': config?.size === 'large',
  }">
  <ion-icon *ngIf="!config?.size" class="text-md" [src]="'assets/icon/'+config?.icon+'.svg'"></ion-icon>
  <p *ngIf="config?.size" class="p-0 m-0 primary">{{ config?.text }}</p>
</div>